<div class="d-flex justify-content-center" style="width:100%;">
  <div style="width:500px;padding:50px;">
<h2 style="background-color:#000;color:#fff;text-align:center;padding:5px 0;">Add A Friend</h2>
<div style="border:solid 1px; padding:1em;">
<br/>
<%= render "form", friend: @friend %>

<br>

<div class="btn btn-secondary">
  <%= link_to "Back", friends_path %>
</div>
</div></div></div>